body {
  font-family: 'Courier New', Courier, monospace;
  background: url(./roman-background.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: bottom;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

#main-menu .nav-link {
  color: #fff;
}

#main-menu .nav-link:hover {
  background-color: #fff;
  color: #000;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-area {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5rem 0;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

.inputs {
  display: block;
  margin: 1rem auto;
  font-size: 1.5rem;
}
